ol {
    li {
        #squarePerimeter,
        #circleLength {
            background-color: #1e1e1e;
            border: none;
            color: #cd9077;
            font-size: inherit;

            &:focus {
                outline: none;
            }
        }
    }
}
//создати дів. в ньому два діва. кожному айді дати і вставляти фігури в них
