ol {
    li {
        #userMoney {
            background-color: #1e1e1e;
            border: none;
            color: #cd9077;
            font-size: inherit;

            &:focus {
                outline: none;
            }
        }

        label {
            border: 1px solid #7e7e7e;
            border-radius: 4px;
            padding: 2px;
            text-align: center;
            font-size: inherit;
            color: #7e7e7e;
            cursor: pointer;;
        }

        #exchangeUsd,
        #exchangeEur,
        #exchangePln {
            display: none;
        }

        #exchangeUsd:checked + label {
            border: 1px solid #d7ba7d;
            color: #d7ba7d;
        }

        #exchangeEur:checked + label {
            border: 1px solid #d7ba7d;
            color: #d7ba7d;
        }

        #exchangePln:checked + label {
            border: 1px solid #d7ba7d;
            color: #d7ba7d;
        }
   }
}