.bg {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);

    .java {
        text-align: center;
        font-size: 42pt;
        color: yellow;
    }
    
    ol {
        color: #858585;

        li {
            padding-left: 30px;
            margin-bottom: 10px;
            
            a {  
                color: #569cd6;
                text-decoration: none;

                &:visited {
                    color: #569cd685;

                    span {
                        color: #7e7e7e8a;
                    }
                }
                
                span {
                    color: #7e7e7e;
                }
            }
        }
    }
}