* {
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

body {
    background-color: #1e1e1e;
    margin: 0;
}

@import "index";
@import "age";
@import "symbol";
@import "year";
@import "palindrome";
@import "exchange";
@import "discount";
@import "circle";
@import "quiz";
@import "date";

