* {
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

body {
  background-color: #1e1e1e;
  margin: 0;
}

.bg {
  width: 50%;
  min-width: 400px;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bg .java {
  text-align: center;
  font-size: 42pt;
  color: #dbdba9;
}

.bg ol {
  color: #858585;
}

.bg ol li {
  padding-left: 30px;
  margin-bottom: 10px;
}

.bg ol li a {
  color: #569cd6;
  text-decoration: none;
}

.bg ol li a span {
  color: #7e7e7e;
}

ol li {
  font-size: inherit;
}

ol li p {
  color: #569cd6;
  margin: 0;
}

ol li #userAge {
  background-color: #1e1e1e;
  border: none;
  color: #cd9077;
  font-size: inherit;
}

ol li #userAge:focus {
  outline: none;
}

ol li #answer {
  color: #9cdcfe;
  font-size: inherit;
}

ol li button {
  background-color: #1e1e1e;
  border: 1px solid #d7ba7d;
  border-radius: 4px;
  padding-bottom: 3px;
  font-size: inherit;
  color: #d7ba7d;
  cursor: pointer;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

ol li button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

ol li button:focus {
  outline: none;
}

ol li #userNumber {
  background-color: #1e1e1e;
  border: none;
  color: #cd9077;
  font-size: inherit;
}

ol li #userNumber:focus {
  outline: none;
}

ol li #userYear {
  background-color: #1e1e1e;
  border: none;
  color: #cd9077;
  font-size: inherit;
}

ol li #userYear:focus {
  outline: none;
}

ol li #userText {
  background-color: #1e1e1e;
  border: none;
  color: #cd9077;
  font-size: inherit;
  width: 450px;
}

ol li #userText:focus {
  outline: none;
}

ol li #userMoney {
  background-color: #1e1e1e;
  border: none;
  color: #cd9077;
  font-size: inherit;
}

ol li #userMoney:focus {
  outline: none;
}

ol li label {
  border: 1px solid #7e7e7e;
  border-radius: 4px;
  padding: 2px;
  text-align: center;
  font-size: inherit;
  color: #7e7e7e;
  cursor: pointer;
}

ol li #exchangeUsd,
ol li #exchangeEur,
ol li #exchangePln {
  display: none;
}

ol li #exchangeUsd:checked + label {
  border: 1px solid #d7ba7d;
  color: #d7ba7d;
}

ol li #exchangeEur:checked + label {
  border: 1px solid #d7ba7d;
  color: #d7ba7d;
}

ol li #exchangePln:checked + label {
  border: 1px solid #d7ba7d;
  color: #d7ba7d;
}

.bg ol li #squarePerimeter,
.bg ol li #circleLength {
  width: 100px;
  background-color: #1e1e1e;
  border: none;
  color: #cd9077;
  font-size: inherit;
}

.bg ol li #squarePerimeter:focus,
.bg ol li #circleLength:focus {
  outline: none;
}

.bg .circle-wrapper {
  position: absolute;
  min-height: 400px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg .square-wrapper {
  position: absolute;
  min-height: 400px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li form input {
  display: none;
}

li form .answer-radio:checked + label {
  border: 1px solid #d7ba7d;
  color: #d7ba7d;
}

li form label {
  display: inline-block;
  margin-top: 5px;
}

ol li input[type=date] {
  width: 150px;
  color: #afafaf;
  background-color: #1e1e1e;
  border: none;
  font-size: inherit;
}

ol li input[type=date]::-webkit-calendar-picker-indicator {
  background: url(../img/calendar.svg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

ol li input[type=date]:focus {
  outline: none;
}

#shoppinglist-body {
  background-color: #cfd9ce;
}

#shoppinglist-bg {
  width: 70%;
  min-width: 400px;
  min-height: 80%;
  margin-bottom: 10%;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #384d47;
}

#shoppinglist-bg #whatYouNeed {
  position: absolute;
  color: #384d47;
  font-family: 'Russo One', sans-serif;
  font-size: 40pt;
  top: -103px;
  /*
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #7c8e51;
        */
}

#shoppinglist-bg #inputButtonWrapper {
  position: absolute;
  top: 17px;
  left: 2%;
  width: 96%;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
}

#shoppinglist-bg #inputButtonWrapper #inputArticle {
  width: 100%;
  height: 100%;
  background-color: #cfd9ce;
  border: none;
  color: #414141;
  font-family: 'Marmelad', sans-serif;
  font-size: 45px;
  padding: 0;
  padding-left: 8px;
  margin: 0;
}

#shoppinglist-bg #inputButtonWrapper #inputArticle:focus {
  outline: none;
}

#shoppinglist-bg #inputButtonWrapper #addButton {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: #6b7478;
  font-size: 20px;
  font-family: 'Marmelad', sans-serif;
  text-transform: uppercase;
  color: #cfd9ce;
  cursor: pointer;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

#shoppinglist-bg #inputButtonWrapper #addButton:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#shoppinglist-bg #inputButtonWrapper #addButton:focus {
  outline: none;
}

#shoppinglist-bg #ul {
  width: 48%;
  margin-top: 94px;
  margin-left: 2%;
  padding: 0;
  list-style: none;
  font-family: 'Marmelad', sans-serif;
}

#shoppinglist-bg #ul li label {
  background-color: #7c8e51;
  min-height: 40px;
  max-height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 20% 10%;
      grid-template-columns: 70% 20% 10%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#shoppinglist-bg #ul li label p {
  font-size: 20pt;
  line-height: 1;
  font-family: 'Marmelad', sans-serif;
}

#shoppinglist-bg #ul li label input {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
}

#shoppinglist-bg #ulDone {
  position: absolute;
  top: 16%;
  right: 2%;
  width: 48%;
  background-color: #502b2b;
  margin: 0;
  padding: 0;
  list-style: none;
}
/*# sourceMappingURL=main.css.map */